@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


boby {
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	color:#505962;
}
.offset:before{
	display: block;
	content: "";
	height: 3rem;
	margin-top: -3rem;
}
/*-----Navigation-----*/
.navbar{
	text-transform: uppercase;
	font-weight: 500;
	font-size: .9rem;
	letter-spacing: .1rem;
	background-color: rgba(0,0,0,0.6)!important;
}
.navbar-brand img {
	height:3.5rem;
}

.navbar-nav li {
	padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
	color: white;
	padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color:#c5b06f;
}
/*-----Landing Page-----*/
.home-inner{
	background-image:url(images/bg.jpg);
	background-size: cover;
}
.caption{
	width:100%;
	max-width: 100%;
	position: absolute;
	top:40%;
	z-index: 1;
	color:#ac7339;
	text-transform: uppercase;
}
.caption h1{
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: .5rem;
	text-shadow: 0.8rem 0.8rem 0.8rem #cd785c;
	padding-bottom: 1rem;
}
.caption h5{
	font-size:1.3rem;
	
	padding-bottom:1.6rem;
}
.btn-md{
border-width: medium;
border-radius: 0;
border-color: smoky white;
padding: .6rem 1.3rem;
font-size: 1rem;
}
/*--------About Us------*/
.narrow{
	width: 75%;
	margin: 1.5rem auto;
	padding-top: 2rem;
}
.narrow h1{
	font-size: 2.4rem;
}
.btn-secondary{
	border-width: medium;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 1.2rem;
	padding: .6rem 1.2rem;
	margin: 1rem;
	color: white!important;
	background-color:#c5b06f;
	border-color: #c5b06f; 
}
.btn-secondary:hover{
	background-color:#9D8C58;
	border-color: #9D8C58; 
}
/*-------Services-----*/
.jumbotron{
	margin-bottom: 0;
	padding:2rem 0 3.5rem;
	border-radius:0;
}
h3.heading{
font-size: 1.9rem;
font-weight: 700;
text-transform: uppercase;
margin-bottom: 1.9rem;
}
.heading-underline{
	width:3rem;
	height: .2rem;
	background-color:#c5b06f;
	margin:0 auto 2rem;
}
.services svg.svg-inline--fa,.fas{
	color: #c5b06f;
}
.server h3{
	font-size: 1.1rem;
	text-transform: uppercase;
	padding-bottom: .4rem;
	padding-top: .8rem;
	font-weight: bold;
}
.server p{
	font-size: 1rem;

}
/*-------Clients-----*/
.clients img{
	width:100%;
	border-radius: 50%;
}
blockquote .fas{
	margin: 1rem;
}
.clients-hr{
	border-top: 0.4rem solid #c5b06f;
}
/*-------Counter-----*/
.counter {
  font-size: 60px;
  font-weight: 700;
  color: white;
}

.counter-stat i {
  margin-right: 10px;
}

.counter-stat h5 {
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.counter-block span {
  font-size: 30px;
}
#counter {
  background: url("images/countered1.png") fixed 50% 50%;
  position: relative;
  background-size: cover;
  padding-top: 87px;
  padding-bottom: 95px;
}
/*---------Clients-------*/
footer{
	background-color: #40474e;
	color: white;
	padding: 2rem 0 2rem;
}
footer img{
	height: 3rem;
	margin: 1.5rem 0;
}
footer a{
	color: white;
}
footer svg.svg-inline--.fa, .fas, .far, .fal, .fad, .fab{
	font-size: 1.6rem;
	margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--.fa, .fas, .far, .fal, .fad, .fab:hover{
	color:#c5b06f;
}
hr.rockets{
	width: 100%;
	border-top: .2rem solid #666b71;
	margin-top: 3rem;
text-align: center;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/